<div class="main-container flex-grow-1 d-flex flex-column justify-content-center align-items-center">

  <div class="text-center">
    <h3 class="title primary-font">Property for Agent</h3>
  </div>

  <div class="flex-grow-1 d-flex flex-column justify-content-evenly align-items-center w-100">
    <form [formGroup]="addPropertyforAgent" class="form-container">


     <div class="mb-3">
        <label for="ownername" class="form-label secondary-font">Property Owner Name</label>
        <input type="text" id="ownername" placeholder="Enter property owner name"
          class="form-control custom-input" formControlName="ownername" />
        <div
          *ngIf="addPropertyforAgent.get('ownername')?.touched && addPropertyforAgent.get('ownername')?.invalid"
          class="text-danger mt-1">
          <small *ngIf="addPropertyforAgent.get('ownername')?.errors?.['required']">Property owner name is
            required.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="ownerNumber" class="form-label secondary-font">Property Owner Mobile Number</label>
        <input type="tel" id="ownerNumber" placeholder="Enter Property Owner mobile number" maxlength="10" pattern="[0-9]*"
          class="form-control custom-input" formControlName="ownerNumber" />
        <div
          *ngIf="addPropertyforAgent.get('ownerNumber')?.touched && addPropertyforAgent.get('ownerNumber')?.invalid"
          class="text-danger">
          <small *ngIf="addPropertyforAgent.get('ownerNumber')?.errors?.['required']">Mobile number is
            required.</small>
          <small *ngIf="addPropertyforAgent.get('ownerNumber')?.errors?.['pattern']">Mobile number must be of
            exactly 10 digits.</small>
        </div>
      </div>


      <div class="mb-3">
        <label for="locationUrl" class="form-label secondary-font">Property Location</label>
        <textarea id="locationUrl" placeholder="Enter property location" class="form-control custom-input"
          formControlName="locationUrl"></textarea>
        <div *ngIf="addPropertyforAgent.get('locationUrl')?.touched && addPropertyforAgent.get('locationUrl')?.invalid"
          class="text-danger mt-1">
          <small *ngIf="addPropertyforAgent.get('locationUrl')?.errors?.['required']">location is required.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="agentId" class="form-label secondary-font">Agent User Name</label>
        <input type="text" id="agentId" placeholder="Enter agent user name" class="form-control custom-input"
          formControlName="agentId" />
        <div
          *ngIf="addPropertyforAgent.get('agentId')?.touched && addPropertyforAgent.get('agentId')?.invalid"
          class="text-danger mt-1">
          <small *ngIf="addPropertyforAgent.get('agentId')?.errors?.['required']">Agent User name is
            required.</small>
        </div>
      </div>
    
      

      <div class="d-flex justify-content-center w-100">
        <ion-button type="submit" expand="block" class="text-center secondary-font"
          [disabled]="addPropertyforAgent.invalid" (click)="onSubmit()">
          Submit
        </ion-button>
      </div>

    </form>
  </div>

</div>