* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #11405a; 
  overflow: hidden; 
}

.refer-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background: linear-gradient(180deg, #337280 50%, #145274 100%);
  font-family: K2D, sans-serif;
  width: 100vw;
  min-height: 100vh;
  color: white;
  padding: 20px;
  overflow-y: auto; /* Enables vertical scrolling */
}

/* Header */
h2 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.sub-heading {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
.menu-icon {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}

.back-icon {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}
/* How it Works Section */
.how-it-works {
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin: 15px 0;
  text-align: center;
}

.how-it-works h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.how-it-works ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.how-it-works li.step-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.how-it-works .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.how-it-works span {
  font-size: 14px;
  color: white;
}

.referral-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 90%;
  max-width: 450px;
  margin-top: 20px;
}

.referral-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1; /* Allows it to take most of the space */
}

.referral-box input {
  border: none;
  flex-grow: 1;
  font-size: 16px;
  background: none;
  outline: none;
  color: #000;
}

.referral-box button {
  background: none;
  border: none;
  cursor: pointer;
}

.referral-box button img {
  width: 20px;
  height: 20px;
}

/* Share Button */
.share-btn {
  color: white;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px; /* Match the referral box height */
  min-width: 50px; /* Adjust width */
}

.share-btn img {
  width: 20px;
  height: 20px;
}

/* Earnings and Referrals */
.earnings-container,
.referrals-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  font-size: 18px;
  margin: 5px 0;
}

.earnings-value {
  font-size: 22px;
  font-weight: bold;
  color: #ff4d4d;
}

.referrals-value {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

/* Terms Link */
.terms-link {
  margin-top: 15px;
  color: #7fdbff;
  text-decoration: underline;
  font-size: 14px;
}
