<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-5 text-white">
 
  <h2 class="primary-font">Refer & Earn</h2>
  <p class="sub-heading secondary-font ">20% off for you, 20% for them!</p>
  <p class="description secondary-font ">Share the referral link with your friends. Earn a bonus on every
    qualified referral</p>

  <div class="how-it-works">
    <h3 class="primary-font">How it works</h3>

    <div class="secondary-font d-flex flex-column gap-3 text-center w-100">
      <div class="step-item d-flex align-items-start gap-2">
        <img src="assets/icon/f-arrow.png" alt="ForwardArrow" class="icon" />
        <span class="text-start">Share the referral link with your friend</span>
      </div>
   
      <div class="step-item d-flex align-items-start gap-1">
        <img src="assets/icon/Rupee.svg" alt="Rupee" class="icon" />
        <span class="text-center">After your friend buying any service using your referral, you get 20% off on your next order</span>
      </div>
    </div>
   
   
  </div>

  <!-- Referral Box with Copy & Share Icons -->
  <div class="referral-container">
    <div class="referral-box w-100">
      <input type="text" [(ngModel)]="referralLink" readonly />
      <button (click)="copyLink()">
        <img src="assets/icon/line.svg" alt="Copy"/>
        <img src="assets/icon/Copy.svg" alt="Copy"/>
      </button>
    </div>
    <img src="assets/icon/Share.svg" alt="Share" (click)="shareReferralLink()" class="share-btn"/>
 
  </div>
  <!-- Total Earnings -->
  <div class="earnings-container primary-font">
    <span>Total Earnings</span>
    <img src="assets/icon/Rupee.svg" class="rupee-icon" alt="₹" />
    <span class="earnings-value">{{ totalEarnings }}</span>
  </div>

  <!-- Total Referrals -->
  <div class="referrals-container primary-font">
    <span>Total Referrals</span>
    <span class="referrals-value">{{ totalReferrals }}</span>
  </div>

  <a href="/terms" class="terms-link">Terms & Conditions</a>
</div>