
  <div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-5">
 
 
    <div class="carousel-container mt-4 w-100 px-2">
      <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let media of propertyDetail.mediaUrls; let i = index"
            [class.active]="i === 0"
          >
            <!-- Show image if it's base64 image -->
            <img
              *ngIf="isImage(media)"
              [src]="getBase64(media)"
              class="d-block w-100"
              alt="Property Image"
            />
      
            <!-- Show video if it's base64 video -->
            <video
              *ngIf="isVideo(media)"
              class="d-block w-100"
              controls loop  [muted]="true" autoplay
            >
              <source [src]="getBase64(media)" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        <button class="carousel-control-prev p-2" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev"
          style="left: -50px; top: 50%; transform: translateY(-50%); width: auto;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next p-2" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next"
          style="right: -50px; top: 50%; transform: translateY(-50%); width: auto;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
   
      </div>
    </div>
   
    <div class="details-section w-100">
      <h5 class="primary-font">{{ propertyDetail.propertyName }}</h5>
      <p class="address secondary-font">{{ propertyDetail.address }}</p>
   
      <h6 class="secondary-font mt-4">Amount :</h6>
      <div class="amount">
        <img src="assets/icon/rupee.png" class="rupee-icon" alt="₹" />
        <p class="amount-text">{{ propertyDetail.amount }}</p>
      </div>
      <h6 class="secondary-font mt-1">Description :</h6>
      <p class="description secondary-font">{{ propertyDetail.description }}</p>
    </div>
   
  
    <div class="d-flex justify-content-center w-100 mt-2">
      <ion-button expand="block" class="text-center secondary-font" (click)="callNow(propertyDetail.agentMobile)">
        Call Now
      </ion-button>
      
    </div>
    
  </div>