.property-upload-form-container {
    padding: 16px;
    background: linear-gradient(180deg, #337280 50%, #145274 100%);
    color: #ffffff;
    font-family: 'K2D', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.top-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.back-button, .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

form {
    width: 100%;
    max-width: 400px; 
    display: block; 
}

label {
    display: block;
    margin: 10px 0px 5px;
    font-weight: bold;
}

.form-input, .form-select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: #ffffff;
    color: black;
}

/* Image Upload Section */
.image-upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upload-button {
    background-color: #ffffff;
    color: #11405A;
    border: 1px solid #11405A;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Submit Button - Centered */
.submit-button-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 20px;
}

.submit-button {
    width: 150px; 
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    color: #11405a;
    border: 2px solid #11405a;
    cursor: pointer;
}
