.main-container{
    width: 100vw;
    min-height: 100%;
}
 
h1 {
    font-size: 32px;
    color: white;
    font-weight: 300;
}
h5{
    font-size: 20px;
    color: #FF7F7F;

}
h3{
    color: #000;
    font-size: 20px;
}
h4{
    font-size: 20px;
    color: #7FDBFF;
    font-weight: 300;
}
.add-subscribe-wrapper {
    text-align: right;
    width: 100%;
}
 
.add-subscribe-btn {
    background-color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    color: #11405a;
    cursor: pointer;
    font-size: 18px;
}
 
.subscribe-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}
 
.subscribe-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    height: auto;
}
 
.subscribe-name {
    font-size: 12px;
    margin-bottom: 5px;
    color: #11405a;
}

 
.default-btn {
    background-color: #cdd7dd;
    border: none;
    padding: 6px 14px;
    border-radius: 15px;
    color: rgb(77, 77, 77);
    font-size: 16px;
    cursor: pointer;
}
.finalize-btn {
    background-color: #11405a;
    border: none;
    padding: 6px 14px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
} 
 
.amount-value{
    color: #ff7f7f;
}


 
 
@media screen and (max-width:450px) and (min-width:400px){
    .subscribe-name{
        font-size: 14px;
    }
}
@media screen and (min-width:540px){
    h1{
        font-size: 40px;
    }
    .subscribe-name{
        font-size: 17px;
    }
    .subscribe-address{
        font-size: 15px;
    }
    .address-label, .amount{
        font-size: 18px;
    }
    .finalize-btn{
        font-size: 20px;
    }
    .edit-icon {
        margin-left: 30px;
        height: 30px;
        width: 30px;
    }
   
    .delete-icon {
        margin-left: 8px;
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:840px) and (min-width:750px){
    h1{
        font-size: 50px;
    }
    .add-subscribe-wrapper{
        max-width: 70%;
    }
    .subscribe-name{
        font-size: 17px;
    }
    .subscribe-address{
        font-size: 15px;
    }
    .address-label, .amount{
        font-size: 18px;
    }
    .finalize-btn{
        font-size: 20px;
    }
    .edit-icon {
        margin-left: 30px;
        height: 30px;
        width: 30px;
    }
   
    .delete-icon {
        margin-left: 8px;
        height: 30px;
        width: 30px;
    }
}
 
@media screen and (max-width:920px)and (min-width:850px){
    h1{
        font-size: 60px;
    }
    .add-subscribe-wrapper{
        max-width: 77%;
    }
    .add-subscribe-btn{
        font-size: 24px;
    }
    .subscribe-card{
        max-width: 600px;
    }
    .subscribe-name{
        font-size: 22px;
    }
    .subscribe-address{
        font-size: 18px;
    }
    .address-label, .amount{
        font-size: 20px;
    }
    .finalize-btn{
        font-size: 24px;
    }
    .edit-icon {
        margin-left: 30px;
        height: 40px;
        width: 40px;
    }
   
    .delete-icon {
        margin-left: 8px;
        height: 40px;
        width: 40px;
    }
}
 
@media screen and (min-width:1024px){
    h1{
        font-size: 60px;
    }
    .add-subscribe-wrapper{
        max-width: 63%;
    }
    .add-subscribe-btn{
        font-size: 26px;
    }
    .subscribe-card{
        max-width: 600px;
    }
    .subscribe-name{
        font-size: 22px;
    }
    .subscribe-address{
        font-size: 18px;
    }
    .address-label, .amount{
        font-size: 20px;
    }
    .finalize-btn{
        font-size: 24px;
    }
    .edit-icon {
        margin-left: 30px;
        height: 40px;
        width: 40px;
    }
   
    .delete-icon {
        margin-left: 8px;
        height: 40px;
        width: 40px;
    }
}