<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1">

  <div class="header w-100 text-center">
    <h1 class="primary-font">Upgrade Your Plan</h1>
  </div>
  <div class="add-subscribe-wrapper w-100 text-center">
    <h4 class="primary-font text-white">Get Full Access to Property App</h4><img src="assets/icon/Unlock.svg" alt=""
      class="">
  </div>
  <div class="add-subscribe-wrapper w-100 text-center">
    <h5 class="secondary-font">Only subscribers can view owner contact details and upload verified listings</h5>
  </div>

  <div class="subscribe-list p-3">
    <div class="subscribe-card d-flex flex-column">
      <div class="subscribe-img-wrapper">
        <h3>Free Plan</h3>
      </div>


      <div class="subscribe-details">
        <p class="secondary-font">
          <img src="assets/icon/Cancel.svg">
          <strong class=" fw-bold secondary-font">No owner details access</strong>
        </p>
        <p class="secondary-font">
          <img src="assets/icon/Cancel.svg">
          <strong class=" fw-bold secondary-font">Cannot Upload Admin Properties</strong>
        </p>





        <div class="subscribe-actions d-flex align-items-center justify-content-between">
          <span class="amount-value"><span class="rupee">₹</span>0/Month</span>
          <button class="finalize-btn">
            Default Plan
          </button>



        </div>
      </div>
    </div>
    <div class="subscribe-card d-flex flex-column">
      <div class="subscribe-img-wrapper">
        <h3>Agent Pro</h3>
      </div>


      <div class="subscribe-details">
        <p class="secondary-font">
          <img src="assets/icon/success.svg">
          <strong class=" fw-bold secondary-font">Direct contact with owners</strong>
        </p>
        <p class="secondary-font">
          <img src="assets/icon/success.svg">
          <strong class=" fw-bold secondary-font">Direct contact with Users</strong>
        </p>
        <p class="secondary-font">
          <img src="assets/icon/success.svg">
          <strong class=" fw-bold secondary-font">Upload properties added by Admin</strong>
        </p>



        <div class="subscribe-actions d-flex align-items-center justify-content-between">
          <span class="amount-value"><span class="rupee">₹</span>499/Month</span>

          <button class="finalize-btn">
            SUBSCRIBE NOW
          </button>



        </div>
      </div>
    </div>
  </div>
  <h4>Already Subscribed? Go to Home</h4>
</div>