<div class="failure-container d-flex flex-column align-items-center justify-content-center flex-grow-1">

  <div class="failure-icon">
    <img src="assets/images/cancel.svg">
  </div>


  <h2 class="failure-title">Payment Failed</h2>
  <p class="failure-subtitle">Your subscription could not be activated</p>

 
  <div class="info-card">
    <h4>Payment Attempt Details</h4>

    <div class="info-row">
      <span>Plan:</span>
      <span>Agent Pro</span>
    </div>

    <div class="info-row">
      <span>Amount:</span>
      <span>₹499</span>
    </div>

    <div class="info-row">
      <span>Payment Method:</span>
      <span>UPI</span>
    </div>

    <div class="info-row">
      <span>Transaction ID:</span>
      <span>TRX123456</span>
    </div>

    <button class="support-btn">Retry Payment</button>
    <button class="home-btn">Go to Home</button>
  </div>


  <p class="footer-text">
    If amount was deducted, refund will be processed within 5-7 working days
  </p>

</div>