.failure-container {
   padding: 30px 15px;
    text-align: center;
    width: 100vw;
    min-height: 100%;
}


.failure-icon {
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure-icon img {
    width: 85px;
    height: 85px;
}


.failure-title {
    color: white;
    font-size: 26px;
    font-weight: 500;
}

.failure-subtitle {
    color: #ff7f7f;
    margin-bottom: 20px;
}

.info-card {
    width: 100%;
    max-width: 420px;
    background: #ffffff;
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.info-card h4 {
    font-weight: 600;
    margin-bottom: 12px;
}


.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
}


.secondary-font {
    font-size: 14px;
    margin: 8px 0;
}


.home-btn {
    width: 100%;
    background: #11405a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}


.support-btn {
    width: 100%;
    background: transparent;
    border: 1px solid #11405a;
    color: #11405a;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.support-btn:hover {
    width: 100%;
    color: #ffffff;
    border: 1px solid #11405a;
    background: #11405a;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.footer-text {
    color: #cfd8dc;
    font-size: 12px;
}
