<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-1">
 
  <div class="header w-100 text-center">
    <h2 class="primary-font">App Usage Statistics</h2>
  </div>
 
    <table class="data-table w-100">
      <thead class="table-header">
        <tr class="text-center primary-font">
          <th>Sl No</th>
          <th>Agent Name</th>
          <th>Properties Listed</th>
          <th>Property Views</th>
          <th>Sales Finalized</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-data" *ngFor="let agent of agentList; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-danger">{{ agent.agentName }}</td>
          <td>
            <div class="text-break text-wrap w-100">
              {{ agent.propertiesListed }}
            </div>
          </td>
          <td>{{ agent.propertyViews }}</td>
          <td class="text-danger fw-semibold">{{ agent.salesFinalized}}</td>
          <td class="d-flex justify-content-center gap-2">
   
          </td>
        </tr>
      </tbody>
    </table>
  </div>