.main-container {
    min-height: 100% !important;
    width: 100vw;
  }
   
  .title {
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
  }
   
  .form-container {
    width: 80%;
  }
   
  label {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
  }
   
  input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    background: #ffffff;
    color: #000;
  }
   
  input,
  select {
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
  }
   
   .form-check-checkbox{
    width: 20px;
    height: 20px;
   }
   
  ion-button {
    --background: #FFFFFF;
    --background-hover: #FFFFFF;
    --background-activated: #FFFFFF;
    --background-focused: #FFFFFF;
    --color: #11405A !important;
    --border-radius: 20px !important;
    --padding-top: 10px !important;
    --padding-bottom: 10px !important;
    min-height: 20px !important;
    width: 60%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-transform: none;
  }


  
.image-container {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.image-container img.main-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.main-img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.delete-icon {
  position: absolute;
  top: 0px;
  right: -3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Image Upload Section */
.image-upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

   .upload-button{
    border: none;
    background-color: transparent;
   }

 .custom-white-checkbox {
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.custom-white-checkbox:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
   
   
  @media screen and (max-width:430px) and (min-width:390px){
    .form-container{
      margin-top: 30px;
    }
    label{
      font-size: 24px;
      margin-top: 16px;
    }
    input, .form-select{
      font-size: 16px;
    }
    ion-button{
      font-size: 22px;
      margin-top: 20px;
    }
  }
  @media screen and  (min-width:540px){
    .form-container{
      margin-top: 30px;
    }
    label{
      font-size: 20px;
      margin-top: 20px;
    }
    input, .form-select{
      font-size: 16px;
    }
    ion-button{
      font-size: 20px;
      margin-top: 20px;
    }
  }
  @media screen and (max-width:830px) and (min-width:760px){
    .title{
      font-size: 40px;
    }
    .form-container{
      margin-top: 30px;
    }
    label{
      font-size: 24px;
      margin-top: 20px;
    }
    ion-button{
      font-size: 26px;
      margin-top: 20px;
    }
    input, .form-select{
      font-size: 22px;
    }
  }
   
  @media screen and (max-width:920px) and (min-width:840px){
    .title{
      font-size: 50px;
    }
    .form-container{
      margin-top: 30px;
    }
    label{
      font-size: 32px;
      margin-top: 40px;
    }
    input, .form-select{
      font-size: 22px;
    }
    ion-button{
      font-size: 32px;
      --padding-top:15px !important;
      --padding-bottom:15px !important;
      margin-top: 30px;
    }
   
  }
   
  @media screen and (min-width:1024px){
    .title{
      font-size: 50px;
    }
    .form-container{
      margin-top: 30px;
    }
    label{
      font-size: 32px;
      margin-top: 40px;
    }
    ion-button{
      font-size: 32px;
      --padding-top:15px !important;
      --padding-bottom:15px !important;
      margin-top: 30px;
    }
    input, .form-select{
      font-size: 26px;
    }
  }