<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1">
 
  <div class="text-center">
    <h3 class="title primary-font">Service List</h3>
  </div>
    <div class="add-service-wrapper mt-4">
    <button class="add-new-service primary-font" (click)="addService()">Add New Service</button>
  </div>
  <div *ngIf="services.length === 0" class="text-center mt-4 secondary-font" style="color: #fff;">
    No services available.
  </div>
  <div class="service-card d-flex justify-content-between align-items-center p-3 mb-3" *ngFor="let service of services">
    <div class="service-info">
      <h4 class="primary-font">{{service.agentFirmName}}</h4>
      <p class="secondary-font mt-3">{{service.serviceType}}</p>
    </div>
    <div class="service-details d-flex flex-column align-items-end justify-content-between gap-1 secondary-font">
      <span class="amount">
        Amount:
        <span class="amount-value"><span class="rupee">₹</span>{{service.amount}}</span>
      </span>
  
      <div class="icon-wrapper mt-2">
        <img src="assets/icon/Edit-1.svg" alt="Edit" class="icon edit-icon" (click)="editService(service)">
        <img src="assets/icon/Delete.png" alt="Delete" class="icon delete-icon" (click)="deleteService(service.id)">
      </div>
    </div>
  </div>
  
 
</div>