/* Main Container */
.container {
  padding: 20px;
  background: linear-gradient(180deg, #337280 50%, #145274 100%);
  color: #ffffff;
  font-family: K2D, sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  align-items: center;
  font-size: 32px;
}
.menu-icon {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}

.back-icon {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}

/* Profile Section */
.profile-section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.profile-pic {
  position: relative;
  width: 90px;
  height: 90px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Edit Icon */
.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon ion-icon {
  font-size: 14px;
  color: #33545b;
}

/* Form Styling */
.content {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0px 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #ffffff;
  color: #000;
}

input:disabled {
  background: #ffffff;
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button, .save-button {
  width: 40%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  //font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background: #ffffff;
  color: #11405a;
}

// .cancel-button {
//   background: #ffffff;
//   color: #11405a;
//   width: 40%;
// }

// .save-button {
//   background: #ffffff;
//   color: #11405a;
// }

/* Join as Agent Button */
.join-agent-button {
  width: 70%;
  max-width: 350px;
  padding: 12px;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: #ff7f7f;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}
