<div class="container">
  <!-- Header -->
  <div class="header">    
  <ion-icon name="arrow-back" class="back-icon"></ion-icon> 
    <div class="profile-pic">
      <img src="assets/images/image1.png" alt="Profile" />
    </div>
  </div>

  <!-- Profile Management Form -->
  <div class="content">
    <h2>Profile Management</h2>

    <!-- <button (click)="updateProfile()">Click</button>  -->

    <label for="name">User Name</label>
    <input type="text" id="username" [(ngModel)]="name" />

    <label for="email">E-mail</label>
    <input type="email" id="email" [(ngModel)]="email" />

    <label for="role">Role</label>
    <input type="text" id="role" [(ngModel)]="role" disabled />

    <button class="apply-button" (click)="applyForAgent()">Apply to Become an Agent</button>
    
    <button class="update-button" (click)="updateProfile()">Update Details</button>

    <button class="submit-button" (click)="submitApplication()">Submit Application</button>
  </div>
</div>

