<div class="delete-popup">
  <div class="d-flex flex-column justify-content-center align-items-center popup-container p-3">
    <h2  class="primary-font mt-0">{{ data.title }}</h2>
    <img src="assets/images/horizontal.svg">
    
      <p class="my-3">{{ data.message }}</p>
   
    <mat-dialog-actions>
      <button mat-button (click)="onCancel()" class="btn">Cancel</button>
      <button mat-button color="warn" class="btn" (click)="onConfirm()">Delete</button>
    </mat-dialog-actions>
  </div>
</div>