<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1">
  <div class="header w-100 text-start p-3">
    <h5 class="welcome-text primary-font">Welcome</h5>
    <h3 class="find-text primary-font">Find Your Properties</h3>
  </div>

  <div class="dropdown-container w-100 d-flex flex-column align-items-start px-3 mb-3 secondary-font">
    <select class="form-select w-100 mb-3" [(ngModel)]="selectedCity" (change)="onCityChange()">
      <option value="" disabled selected>Select City</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>

    <div class="dropdown-row d-flex justify-content-between w-100">
      <select class="form-select w-50 me-2" [(ngModel)]="selectedArea" (change)="onAreaChange()"
        [disabled]="!selectedCity">
        <option value="" disabled selected>Select Area</option>
        <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
      </select>

      <select class="form-select w-50" [(ngModel)]="selectedSector" [disabled]="!selectedArea"
        (change)="onSectorChange()">
        <option value="" disabled selected>Select Sector</option>
        <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
      </select>
    </div>
  </div>

  <div class="categories-section w-100 text-start p-3">
    <h6 class="categories-title primary-font">Categories</h6>
    <div class="categories-buttons secondary-font d-flex justify-content-between align-items-center">
      <button class="btn btn-secondary category-button" (click)="resetCategory()">All</button>
      <button class="btn btn-primary category-button" (click)="filterByCategory('House')">House</button>
      <button class="btn btn-primary category-button" (click)="filterByCategory('Apartment')">Apartment</button>
      <!-- <button class="btn btn-primary category-button" (click)="filterByCategory('Office')">Office</button> -->
    </div>
  </div>

  <div class="property-cards w-100 d-flex flex-wrap justify-content-between">
    <div class="property-card" *ngFor="let property of filteredProperties">
      <h6 class="property-title primary-font mt-1">{{ property.propertyName }}</h6>
      <div class="property-content d-flex justify-content-between align-items-center">
        <div class="property-image" >
          <!-- <img [src]="property.mediaUrls[0]"  alt="Property Image" /> -->
          <img *ngIf="isImage(property.mediaUrls[0])" [src]="getBase64(property.mediaUrls[0])" class="d-block w-100"
            alt="Property Image" />

          <!-- Show video if it's base64 video -->
          <video *ngIf="isVideo(property.mediaUrls[0])" class="d-block w-100" loop  [muted]="true" autoplay>
            <source [src]="getBase64(property.mediaUrls[0])" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="property-details">
          <p class="property-address secondary-font">
            <strong class="address-label fw-bold">Address:</strong><br> {{ property.address }}
          </p>
          <div class="property-buttons primary-font d-flex justify-content-between align-items-center">
            <button class="btn btn-danger view-button" (click)="viewProperty(property.id)">View</button>
            <button class="btn btn-info call-now-button" (click)="callNow(property.agentMobile)">Call Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>