<div class="success-container d-flex flex-column align-items-center justify-content-center flex-grow-1">


  <div class="success-icon">
    <img src="assets/images/success.svg">
  </div>


  <h2 class="success-title">Subscription Activated</h2>
  <p class="success-subtitle">You have successfully subscribed to Agent Pro</p>

  <div class="info-card">
    <h4>Payment Details</h4>

    <div class="info-row">
      <span>Plan:</span>
      <span>Agent Pro</span>
    </div>

    <div class="info-row">
      <span>Amount Paid:</span>
      <span>₹499</span>
    </div>

    <div class="info-row">
      <span>Payment Method:</span>
      <span>UPI</span>
    </div>

    <div class="info-row">
      <span>Transaction ID:</span>
      <span>TRX123456</span>
    </div>

    <div class="info-row">
      <span>Billing Date:</span>
      <span>06 Feb 2026</span>
    </div>

  </div>


  <div class="info-card">
   
    <h4>Benefits Activated</h4>
        <p class="secondary-font">
          <img src="assets/icon/success.svg" class="me-2">
          <strong class=" fw-bold secondary-font">Direct contact with owners</strong>
        </p>
        <p class="secondary-font">
          <img src="assets/icon/success.svg" class="me-2">
          <strong class=" fw-bold secondary-font">Direct contact with Users</strong>
        </p>
        <p class="secondary-font">
          <img src="assets/icon/success.svg" class="me-2">
          <strong class=" fw-bold secondary-font">Upload properties added by Admin</strong>
        </p>

    <button class="home-btn">Go to Home</button>
  </div>

  <p class="footer-text">
    A payment receipt has been sent to your registered email
  </p>

</div>
