<div class="main-container flex-grow-1 d-flex flex-column justify-content-center align-items-center">

  <div class="text-center">
    <h3 class="title primary-font">Add Service</h3>
  </div>
  <div class="flex-grow-1 d-flex flex-column justify-content-evenly align-items-center w-100">
    <form [formGroup]="serviceForm" class="form-container" (ngSubmit)="addService()">
      <div class="mb-3">
        <label for="service" class="form-label secondary-font">Service Type</label>
        <select id="service" class="form-select" formControlName="serviceType">
          <option value="" disabled>Select a service</option>
          <option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</option>
        </select>

        <div *ngIf="serviceForm.get('serviceType')?.touched && serviceForm.get('serviceType')?.invalid" class="text-danger">
          <small *ngIf="serviceForm.get('serviceType')?.errors?.['required']">Service Type is required.</small>
        </div>
      </div>
    
      <div class="mb-3">
        <label for="agent-firm-name" class="form-label secondary-font">Agent Firm Name</label>
        <input type="text" id="agent-firm-name" class="form-control custom-input" placeholder="Enter agent firm name" formControlName="agentFirmName" />

        <div *ngIf="serviceForm.get('agentFirmName')?.touched && serviceForm.get('agentFirmName')?.invalid" class="text-danger">
          <small *ngIf="serviceForm.get('agentFirmName')?.errors?.['required']">Agent Firm Name is required.</small>
        </div>
      </div>
    
      <div class="mb-3">
        <label for="amount" class="form-label secondary-font">Amount</label>
        <input type="text" id="amount" class="form-control custom-input" minlength="1" maxlength="10" placeholder="Enter amount"  formControlName="amount" (keypress)="onlyDigits($event)"/>

        <div *ngIf="serviceForm.get('amount')?.touched && serviceForm.get('amount')?.invalid" class="text-danger">
          <small *ngIf="serviceForm.get('amount')?.errors?.['required']">Amount is required.</small>
        </div>  
      </div>
    
      <div class="mb-3">
        <label for="mobile" class="form-label secondary-font">Mobile Number</label>
        <input type="text" id="mobile" class="form-control custom-input" minlength="10" maxlength="10" placeholder="Enter mobile number" formControlName="mobileNumber" (keypress)="onlyDigits($event)" />

        <div *ngIf="serviceForm.get('mobileNumber')?.touched && serviceForm.get('mobileNumber')?.invalid" class="text-danger">
          <small *ngIf="serviceForm.get('mobileNumber')?.errors?.['required']">Mobile number is required.</small>
          <small *ngIf="serviceForm.get('mobileNumber')?.errors?.['pattern']">Mobile number must be exactly 10 digits.</small>
        </div>  
      </div>
    
      <div class="d-flex justify-content-center w-100">
        <ion-button type="submit" expand="block" class="text-center secondary-font">
          Submit
        </ion-button>
      </div>
    </form>
    

  </div>
</div>