<div class = "admin-dashboard-container">

  <h2>Admin Dashboard</h2>

  <div class = "grid-container">
  <div class = "dashboard-card" (click) = "navigateTo('userManagement')">
    User Management
  </div>
  <div class = "dashboard-card" (click) = "navigateTo('agentManagement')">
    Agent Management
  </div>
  <div class = "dashboard-card" (click) = "navigateTo('propertyManagement')">
    Property Management
  </div>
  <div class = "dashboard-card" (click) = "navigateTo('service-vendor-Management')">
    Service Vendor Management
  </div>
  <div class = "dashboard-card" (click) = "navigateTo('referralManagement')">
    Referral Management
  </div>
  <div class = "dashboard-card" (click) = "navigateTo('app-usage-stats')">
    App Usage Statics Dashboard
  </div>
  </div>
</div>