<ion-content [scrollY]="true">
  <ion-menu side="end" menuId="mainMenu" contentId="main-content" type="overlay">
   
    <ion-header>
      <ion-toolbar>
        <div class="header-content">
          <h1 class="app-title">Rajpal Properties</h1>
          <img src="assets/icon/profile.svg" class="agent-img" alt="Agent Image">
          <p class="agent-name">Mayank Singh</p>
        </div>
      </ion-toolbar>
    </ion-header>
 
    <ion-content class="side-bar">
      <ion-list>
        <ion-item routerLink="/admin/landing-page" (click)="closeMenu()">
          <img src="assets/icon/Home.svg" slot="start" style="width: 24px; height: 24px;" />
          Home</ion-item>
          <ion-item routerLink="/admin/profile-management" (click)="closeMenu()">
            <img src="assets/icon/User.svg" slot="start" style="width: 24px; height: 24px;" />
            User & Agent Managemeent</ion-item>
          <ion-item routerLink="/admin/property-management" (click)="closeMenu()">
            <img src="assets/icon/Property.svg" slot="start" style="width: 24px; height: 24px;" />
            Property Managemeent</ion-item>
       
        <ion-item routerLink="/admin/service-management" (click)="closeMenu()">
          <img src="assets/icon/Service.svg" slot="start" style="width: 24px; height: 24px;" />Service Vendor Management</ion-item>
        <ion-item routerLink="/admin/referral-management" (click)="closeMenu()">
          <img src="assets/icon/Money Bag Rupee.svg" slot="start" style="width: 24px; height: 24px;" />Referral Management </ion-item>
        <ion-item routerLink="/admin/app-usage-statistic" (click)="closeMenu()">
          <img src="assets/icon/Analytics.svg" slot="start" style="width: 24px; height: 24px;" />App Usage Statistics </ion-item>
       
 
        <ion-item (click)="closeMenu()" (click)="logout()">
          <img src="assets/icon/Logout.svg" slot="start" style="width: 24px; height: 24px;" />
          Log out</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
 
  <!-- Main Content -->
  <div id="main-content">
    <div class="main w-100 d-flex flex-column align-items-center flex-grow-1">
      <div class="top-header d-flex justify-content-between align-items-center w-100">
        <ion-icon name="arrow-back" class="back-icon" (click)="goBack()"></ion-icon>
        <ion-icon name="menu-outline" class="menu-icon" (click)="openMenu()"></ion-icon>
      </div>
      <div class="px-5">
        <router-outlet></router-outlet>
      </div>
 
    </div>
  </div>
</ion-content>