<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-5 text-white">

  <h3 class="primary-font">Start Posting Your Property</h3>
  <p class="sub-heading secondary-font text-start">Add Basic Details</p>
  <p class="description secondary-font ">You're looking to</p>
  <div class="categories-section w-100 text-start p-3 mb-3">
 
    <div class="categories-buttons secondary-font d-flex justify-content-around align-items-center">
      <button class="btn btn-primary category-button">Sell</button>
      <button class="btn btn-primary category-button">Rent/Lease</button>
    </div>
  </div>
  <p class="description secondary-font ">And it's a</p>

  <div class="d-flex align-items-center justify-content-between secondary-font mt-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" formControlName="" id="" value="">
      <label class="form-check-label" for="">Residential</label>
    </div>
    <div class="form-check ml-4">
      <input class="form-check-input" type="radio" formControlName="" id="" value="">
      <label class="form-check-label" for="">Commercial</label>
    </div>
  </div>
  <h3 class="primary-font">Your contact details for the buyer to reach you</h3>
  <input type="text" id="username" class="form-control custom-input" formControlName="" placeholder="Enter Contact Number"  />

</div>