<div class="property-management-container">
    <h1>Property Management</h1>
    
    <div class="add-property-wrapper">
        <button class="add-property-btn">Add New Property</button>
    </div>

    <div class="property-list">
        <div class="property-card" *ngFor="let property of properties">
            <div class="property-img-wrapper">
                <img [src]="property.image" alt="Property Image" class="property-img">
            </div>


            <div class="property-details">
                <h2 class="property-name">{{ property.name }}</h2>
                <p class="property-address">{{ property.address }}</p>
                <p class="property-amount">Amount: ₹ {{ property.amount }}</p>

                <div class="property-actions">
                    <button class="finalize-btn">Finalize Sale</button>
                    <img src="assets/icon/Edit.png" alt="Edit" class="icon edit-icon" (click)="editProperty(property)">
                    <img src="assets/icon/Delete.png" alt="Delete" class="icon delete-icon" (click)="deleteProperty(property)">
                </div>
            </div>
        </div>
    </div>
</div>
