<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1">
  <!-- Header -->
  <div class="header">
    <h2 class="primary-font">Profile</h2>
  </div>

  <!-- Profile Picture Section -->
  <div class="profile-container d-flex flex-column justify-content-center align-items-center mt-4">

    <div class="profile-photo">
      <img src="assets/icon/profile-placeholder.svg" alt="Profile Photo" />
      <div class="change-profile-icon">
        <img src="assets/icon/Edit.svg">
      </div>
    </div>


    <!-- Profile Form -->
    <form [formGroup]="profileForm" class="d-flex flex-column form-container mt-3" (ngSubmit)="updateProfile()">
      <label for="username" class="form-label secondary-font">Username</label>
      <input type="text" id="username" class="form-control custom-input" formControlName="username" />

      <label for="mobilenumber" class="form-label secondary-font">Mobile Number</label>
      <input type="text" id="mobilenumber" class="form-control custom-input" formControlName="mobilenumber" />

      <label for="password" class="form-label secondary-font">Password</label>
      <input type="text" id="password" class="form-control custom-input" formControlName="password" />

      <label for="confirmPassword" class="form-label secondary-font">Confirm Password</label>
      <input type="text" id="confirmPassword" class="form-control custom-input" formControlName="confirmPassword" />

      <div class="button-group d-flex justify-content-center mt-4 secondary-font">

        <button type="submit" class="save-button">Submit</button>
      </div>


    </form>


  </div>
</div>