<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 p-3">

  <div class="text-center">
    <h3 class="title primary-font">Edit Service</h3>
  </div>
  <form [formGroup]="form" class="form-container" (ngSubmit)="saveService()">
    <!-- <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" class="form-control" formControlName="username" />
    </div> -->
  
    <div class="mb-3">
      <label for="service" class="form-label">Service Type</label>
      <select id="service" class="form-select" formControlName="serviceType">
        <option value="" disabled>Select a service</option>
        <option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="agent-firm-name" class="form-label">Agent Firm Name</label>
      <input type="text" id="agent-firm-name" class="form-control" formControlName="agentFirmName" />
    </div>
  
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="text" id="amount" class="form-control" formControlName="amount" />
    </div>
  
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile Number</label>
      <input type="text" id="mobile" class="form-control" formControlName="mobileNumber" maxlength="10" />
    </div>
  
    <div class="d-flex justify-content-between mt-4">
      <ion-button type="button" (click)="cancel()">Cancel</ion-button>
      <ion-button type="submit" [disabled]="form.invalid">Save</ion-button>
    </div>
  </form>
</div>