<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 p-3">

  <div class="text-center">
    <h3 class="title primary-font">Edit Service</h3>
  </div>
  <form [formGroup]="form" class="form-container" (ngSubmit)="saveService()">
    <!-- <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" class="form-control" formControlName="username" />
    </div> -->
  
    <div class="mb-3">
      <label for="service" class="form-label">Service Type</label>
      <select id="service" class="form-select" formControlName="serviceType">
        <option value="" disabled>Select a service</option>
        <option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</option>
      </select>

      <div *ngIf="form.get('serviceType')?.touched && form.get('serviceType')?.invalid" class="text-danger">
        <small *ngIf="form.get('serviceType')?.errors?.['required']">Service type is required.</small>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="agent-firm-name" class="form-label">Agent Firm Name</label>
      <input type="text" id="agent-firm-name" class="form-control" placeholder="Enter agent firm name" formControlName="agentFirmName" />
      <div *ngIf="form.get('agentFirmName')?.touched && form.get('agentFirmName')?.invalid" class="text-danger">
        <small *ngIf="form.get('agentFirmName')?.errors?.['required']">Agent firm name is required.</small>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="text" id="amount" class="form-control" placeholder="Enter amount" formControlName="amount" />
      <div *ngIf="form.get('amount')?.touched && form.get('amount')?.invalid" class="text-danger">
        <small *ngIf="form.get('amount')?.errors?.['required']">Amount is required.</small>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile Number</label>
      <input type="text" id="mobile" class="form-control" placeholder="Enter mobile number" formControlName="mobileNumber" maxlength="10" />
      <div *ngIf="form.get('mobileNumber')?.touched && form.get('mobileNumber')?.invalid" class="text-danger">
        <small *ngIf="form.get('mobileNumber')?.errors?.['required']">Mobile number is required.</small>
        <small *ngIf="form.get('mobileNumber')?.errors?.['pattern']">Please enter a valid 10-digit mobile number.</small>
      </div>
    </div>
  
    <div class="d-flex justify-content-between mt-4">
      <ion-button type="button" (click)="cancel()">Cancel</ion-button>
      <ion-button type="submit" [disabled]="form.invalid">Save</ion-button>
    </div>
  </form>
</div>