<div class="main-container w-100 d-flex flex-column justify-content-evenly align-items-center flex-grow-1">
 
  <div class="text-center">
      <h3 class="title primary-font">Property Details</h3>
  </div>

  <form class="form-container" [formGroup]="propertyForm">
      <div class="mb-3">
          <label for="propertyName" class="form-label secondary-font">Property Name</label>
          <input type="text" id="propertyName" placeholder="Enter property name" class="form-control custom-input"
              formControlName="propertyName" />
              <div *ngIf="propertyForm.get('propertyName')?.touched && propertyForm.get('propertyName')?.invalid" class="text-danger mt-1">
                <small *ngIf="propertyForm.get('propertyName')?.errors?.['required']">Property name is required.</small>
              </div>     
      </div>
      <div class="mb-3">
          <!-- Image Upload Section -->
          <div class="image-upload-section d-flex justify-content-between align-items-center">
              <label for="Add-image" class="form-label secondary-font">Add Images/Videos</label>
              <button type="button" class="upload-button mb-3" (click)="triggerFileInput()">
                  Add <img src="assets/icon/Add.svg" />
              </button>
          </div>

          <!-- Hidden File Input -->
          <input type="file" id="images" #fileInput accept="image/*,video/*" class="hidden-input" multiple
              (change)="onImageUpload($event)" style="display: none;" />

          <!-- Image/Video Preview Section -->

          <div class="preview-container w-100"
              style="background:none; border: 2px solid #7fdbff; padding: 5px; border-radius: 10px;">

              <div class="image-container" *ngFor="let file of uploadedFilesBase64; let i = index">
                  <ng-container *ngIf="isImage(file); else videoTemplate">
                      <img [src]="file" class="main-img" />
                  </ng-container>

                  <ng-template #videoTemplate>
                      <video [src]="file" autoplay class="main-img"></video>
                  </ng-template>

                  <img src="assets/icon/Minus.svg" class="delete-icon" (click)="removeFile(i)" />
              </div>

          </div>
      </div>
      <div class="mb-3">
          <!-- Property Type (Dropdown) -->
          <label for="propertyType" class="form-label secondary-font">Property Type</label>
          <select id="propertyType" formControlName="propertyType" class="form-select">
              <option value="">Select Type</option>
              <option *ngFor="let type of propertyTypes" [value]="type">{{ type }}</option>
          </select>
          <div *ngIf="propertyForm.get('propertyType')?.touched && propertyForm.get('propertyType')?.invalid" class="text-danger mt-1">
            <small *ngIf="propertyForm.get('propertyType')?.errors?.['required']">Property type is required.</small>
          </div>  
      </div>
      <div class="mb-3">
          <!-- Amount (Rs.) -->
          <label for="amount" class="form-label secondary-font">Amount (Rs.)</label>
          <input type="number" id="amount" min="0" placeholder="Enter Amount" maxlength="10" minlength="1" class="form-control custom-input" formControlName="amount" />
          <div *ngIf="propertyForm.get('amount')?.touched && propertyForm.get('amount')?.invalid" class="text-danger mt-1">
            <small *ngIf="propertyForm.get('amount')?.errors?.['required']">Amount is required.</small>
          </div>
      </div>

      <div class="mb-3">
          <label for="description" class="form-label secondary-font">Property Description</label>
          <textarea id="description" placeholder="Enter property description" class="form-control custom-input"
              formControlName="description"></textarea>
              <div *ngIf="propertyForm.get('description')?.touched && propertyForm.get('description')?.invalid" class="text-danger mt-1">
                <small *ngIf="propertyForm.get('description')?.errors?.['required']">Description is required.</small>
              </div>      
      </div>
      <!-- City -->
      <div class="mb-3">
          <label for="city" class="form-label secondary-font">City</label>
          <select id="city" formControlName="city" class="form-select">
              <option value="">Select City</option>
              <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
          <div *ngIf="propertyForm.get('city')?.touched && propertyForm.get('city')?.invalid" class="text-danger mt-1">
            <small *ngIf="propertyForm.get('city')?.errors?.['required']">City is required.</small>
          </div>  
      </div>
      <div class="mb-3">
          <!-- Area -->
          <label for="area" class="form-label secondary-font">Area</label>
          <select id="area" formControlName="area" class="form-select">
              <option value="">Select Area</option>
              <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
          </select>
          
          <div *ngIf="propertyForm.get('area')?.touched && propertyForm.get('area')?.invalid" class="text-danger mt-1">
            <small *ngIf="propertyForm.get('area')?.errors?.['required']">Area is required.</small>
          </div>
      </div>
      <!-- Sector -->
      <div class="mb-3">
          <label for="sector" class="form-label secondary-font">Sector</label>
          <select id="sector" formControlName="sector" class="form-select">
              <option value="">Select Sector</option>
              <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
          </select>
             
          <div *ngIf="propertyForm.get('sector')?.touched && propertyForm.get('sector')?.invalid" class="text-danger mt-1">
            <small *ngIf="propertyForm.get('sector')?.errors?.['required']">Sector is required.</small>
          </div>
      </div>
      <!-- Address -->
      <div class="mb-3">
          <label for="address" class="form-label secondary-font">Address</label>
          <!-- <input type="text" id="address" placeholder="" class="form-control custom-input"
              formControlName="address" /> -->
          <textarea id="address" placeholder="Enter address" class="form-control custom-input"
              formControlName="address"></textarea>
           
              <div *ngIf="propertyForm.get('address')?.touched && propertyForm.get('address')?.invalid" class="text-danger mt-1">
                <small *ngIf="propertyForm.get('address')?.errors?.['required']">Address is required.</small>
              </div>     
      </div>
      <div class="mb-3">
          <label for="agentMobile" class="form-label secondary-font">Agent Mobile Number</label>
          <input type="tel" id="agentMobile" placeholder="Enter agent mobile number" maxlength="10" pattern="[0-9]*" class="form-control custom-input"
              formControlName="agentMobile" />
              <div *ngIf="propertyForm.get('agentMobile')?.touched && propertyForm.get('agentMobile')?.invalid" class="text-danger">
                <small *ngIf="propertyForm.get('agentMobile')?.errors?.['required']">Mobile number is required.</small>
                <small *ngIf="propertyForm.get('agentMobile')?.errors?.['pattern']">Mobile number must be of exactly 10 digits.</small>
              </div>
      </div>

      <!-- <div class="submit-button-container">
          <button type="submit" [disabled]="propertyForm.invalid" class="submit-button">
              Submit
          </button>
      </div> -->
      <div class="button-group d-flex justify-content-between mt-4 secondary-font">
          <ion-button type="button" class="primary-font" (click)="onCancel()">Cancel</ion-button>
          <ion-button type="submit" class="primary-font" [disabled]="propertyForm.invalid"
              (click)="onSave()">Save</ion-button>
      </div>
  </form>
</div>