<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1">
  <!-- Embedded Google Map -->
  <h3 class="heading">Properties Deals</h3>
  <div class="my-3 w-100 px-3">
    <label for="agentSelect" class="form-label dropdown mb-2">Select Agent</label>
    <select id="agentSelect" class="form-control custom-input" formControlName="selectedAgentId"
      (change)="onPropertySelect($event)">
      <option value="" selected>-- Select Agent --</option>
      <option *ngFor="let property of propertyDetail" [value]="property.ownername">
        {{ property.ownername }}
      </option>
    </select>
  </div>

  <!-- <div class="dropdown-container w-100 d-flex flex-column align-items-start px-3 mb-3 secondary-font">
    <div class="dropdown-row d-flex justify-content-center w-100 p-3">
      <select class="form-select" [disabled]="">
        <option value="" disabled selected>Select Area</option>
 
      </select>
    </div>
  </div> -->

  <div class="map-container w-100 mb-3" *ngIf="property">
    <iframe *ngIf="safeLocationUrl" [src]="safeLocationUrl" width="100%" height="450" style="border: 0"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <div class="details-section w-100 px-4" *ngIf="!property">
    <h3 class="text-center">Please select the property.</h3>
  </div>

  <div class="details-section w-100 px-4" *ngIf="property">
    <!-- <h5 class="primary-font mb-2">
      {{ property.ownername }}
    </h5> -->

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="owner-info">
        <p class="owner-label mb-1">Owner Name</p>
        <p class="owner-phone mb-0">{{ property.ownername }}</p>
      </div>

      <!-- Call Now Button -->
      <button class="call-now-btn" (click)="callNow(property.ownerNumber)">
        Call Now
      </button>
    </div>
  </div>
</div>